body {
  margin: 40px;
}
.editor {
  width: 100%;
  max-width: 100%;
  height: 210px;
  resize: both;
  margin: 10px auto;
}
.sql-editor-component {
  margin: 40px auto;
}

.join-tabs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.written-content {
  max-width: 800px;
  margin: 40px auto;
  background-color: #efe5d5;/*peachpuff;*/
  box-shadow: 10px 10px 5px grey;
  border-radius: 20px;
  padding: 20px;
}

.output {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: 10px;
  min-height: 20px;
  resize: both;
  max-width: 100%;
}
