body {
  margin: 40px;
}
.editor {
  width: 100%;
  height: 300px;
  margin: 10px auto;
}
.sql-editor-component {
  margin: 40px auto;
}

.join-tabs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}